.wrapper{
    
    display:grid;
    place-items: center;
    justify-content: center;
    background-color: #fff;
    width: 500px;
    padding: 25px;
    margin: 100px auto 25px;
    box-shadow: 0px 0px 200px rgba(0,0,0,0.5);
}
.wrapper h2{
    background-color: #fcfcfc;
    color: #7ed321;
    font-size:24px;
    padding:10px;
    margin-bottom: 20px;
    text-align: center;
    border: 1px dotted #333;
}
h4{
    padding-bottom: 5px;
    color: #7ed321;
}

.input-group{
    margin-bottom: 8px;
    width:100%;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 5px 0;
}

.input-box{
    width:100%;
    margin-right: 12px;
    position:relative;
}

.name{
    padding: 14px 10px 14px 10px;
    width:100%;
    background-color: #fcfcfc;
    border: 1px solid #00000033;
    outline: none;
    letter-spacing: 1px;
    transition: 0.3s;
    border-radius: 3px;
    color: #333;
}
.main{
    width: 80%;
    margin: 0 auto;
    padding-top: 32px;
}













